<?xml version='1.0'?>
<configuration>
    <settings>
        <botNick>IVBot</botNick>
        <nsPassword>8o7T3r5</nsPassword>
        <version>2.0</version>
        <ownerNick>oCom</ownerNick>
        <debug>false</debug>
        <login>BotsyDo</login>
        <servers>
            <server>omega.uk.eu.synirc.net</server>
        </servers>
        <channels>
            <debug>
                <channel>#testingthings</channel>
            </debug>
            <release>
                <channel>#smogonwifi</channel>
            </release>
        </channels>
        <trigger>?</trigger>
        <accessLevels>
            <owner nick="oCom"/>
            <trusted nick="flarg"/>
        </accessLevels>
    </settings>
</configuration>
